{% include "header.html" %}
{% include "navbar.html" %}

<div style="height: 92%" class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-classic-movies-00-index-new-1591823486.jpg" uk-img>
    <div style="width: 300px; padding-left: 20px; padding-right: 20px; padding-top: 15px; background:rgba(0, 0, 0, 0.7);">
        <form method="post">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ messages[0] }} </p>
                </div>
            {% endif %}
            {% endwith %}
            {{ form.csrf_token }}
            <fieldset class="uk-fieldset">

                <legend class="uk-legend" style="text-align: center"><a href="/">Film toevoegen</a></legend>

                <div class="uk-margin">
                    <div class="uk-inline" style="width: 100%">
                        <span class="uk-form-icon" uk-icon="icon: youtube"></span>
                        {{ form.youtube_link(class_='uk-input') }}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline" style="width: 100%">
                        <span class="uk-form-icon" uk-icon="icon: tag"></span>
                        {{ form.title(class_='uk-input') }}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-form-controls">
                        <span class="uk-form-icon" uk-icon="icon: tag"></span>
                        {{ form.description(class_='uk-textarea') }}
                    </div>
                </div>

                <div class="uk-margin">
                        {{ form.director(class_='uk-select') }}
                </div>


                <div class="uk-margin">
                     <div class="uk-inline" style="width: 100%">
                        <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                        {{ form.release_year(class_='uk-input')}}
                     </div>
                </div>


                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-default" style="background:rgba(255, 255, 255, 0.1); width: 100%">Creëren</button>
                </div>

            </fieldset>
        </form>
    </div>
</div>


{% include "footer.html" %}