<div class="uk-position-relative">

    <nav class="uk-navbar-container" uk-navbar="dropbar: true" style="background: black">

        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                 {%if current_user.is_authenticated %}
                <li>
                    <a href="#">Admin center</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active" style="color: black">Films</li>
                            <li><a href="/movie/create">Film toevoegen</a></li>
                            <li><a href="/movies/edit">Films wijzigen</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
            </ul>


        </div>

        <div class="uk-navbar-center" style="color: white; font-size: 50px"><a href="/">ETMD</a></div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                {%if current_user.is_authenticated %}
                <li>
                    <a style="color: white;" href="#">{{ current_user.user_name }}</a>
                    <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                </li>
                {% else %}
                <li>
                    <a href="/login">Login</a>
                </li>

                <li>
                    <a href="/register">register</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <div class="uk-navbar-dropbar"></div>

</div>