<div class="uk-position-relative">

    <nav class="uk-navbar-container" uk-navbar="dropbar: true" style="background: black">

        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">Admin center</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active" style="color: black">Films</li>
                            <li><a href="/movie/create">Film toevoegen</a></li>
                        </ul>
                    </div>
                </li>
            </ul>


        </div>

        <div class="uk-navbar-center" style="color: white; font-size: 50px"><a href="/">ETMD</a></div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li>
                    <a href="/login">Login</a>
                </li>

                <li>
                    <a href="/register">register</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="uk-navbar-dropbar"></div>

</div>