{% include "header.html" %}

<div style="height: 100%" class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-classic-movies-00-index-new-1591823486.jpg" uk-img>
    <div style="width: 300px; padding-left: 20px; padding-right: 20px; padding-top: 15px; background:rgba(0, 0, 0, 0.7);">
        <form method="post">
            {{ form.csrf_token }}
            <fieldset class="uk-fieldset">

                <legend class="uk-legend" style="text-align: center"><a href="/">ETMD</a></legend>

                <div class="uk-margin">
                    <div class="uk-inline" style="width: 100%">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        {{ form.email(class_='uk-input') }}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline" style="width: 100%">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        {{ form.user_name(class_='uk-input') }}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline" style="width: 100%">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        {{ form.password(class_='uk-input') }}
                    </div>
                </div>

                <div class="uk-margin" uk-margin>
                    {{ form.submit(class_='uk-button uk-button-default uk-width-1-1') }}
                </div>

            </fieldset>
        </form>
    </div>
</div>

{% include "footer.html" %}